body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: Arial;
  text-align: center;
}

.navbar {
  background-color: #222;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

.navbar a:hover {
  background-color: #444;
}

h1 {
  background-color: #666;
  color: white;
  padding: 40px 20px 20px 20px;
  width: 100%;
  height: auto;
}

.producto {
  border: 1px solid black;
  background-color: white;
  width: 180px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

img {
  width: 150px;
  height: 150px;
  border: 1px solid gray;
  cursor: pointer;
}

p {
  margin-top: 5px;
}

.notificacion {
  background-color: #f2f2f2;
  color: #111;
  padding: 5px 10px;
  border: 1px;
  border: solid black;
  border-radius: 3px;
  text-align: center;
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
}



footer {
  background-color: #666;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

.contenido {
  text-align: center;
  margin-top: 20px;
}

.producto button {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
}

@media (max-width: 400px) {
  .producto {
    width: 120px;
  }

  img {
    width: 80px;
    height: 80px;
  }
}

